/* src/components/HomePage.css */ 

.home-page {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(93, 87, 87);
  
    /* Background styles */
   background-image: url('/src/image.jpeg'); /* Image from public folder */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */ 
    filter: brightness(30%);
  } 
  .logo img {
    width: 30px;
    height: 30px; 
    margin:10px 0px 0px 10px ; 
}

.home-container { 
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white light;
    justify-content: center;
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
     /* Adjust as needed */
}



.headline {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 1rem;
    color: rgb(21, 20, 20);
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    gap: 10px;
}

.email-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.signup-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #444;
}
.login-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #444;
}